/*
Template Name: Dentalist Theme
Template URI: spfoundationbd.com
Author Name: Md. Shahab uddin
Author URI: webcoachbd.com
Version: 2.0
Description: The Basic Template.
*/

*{margin: 0;padding: 0;}
body{font-family: arial; font-size: 16px; color: #666; line-height: 22px; background: url(images/bg.jpg) repeat fixed;}
a{text-decoration: none; color: #666;}
a:hover{text-decoration: none;}
.fix{overflow: hidden; }
.main{width: 960px; margin: 20 auto; background: #fff;}
.hedader{}
.slider{ background: url(images/banner.jpg) no-repeat;}
.slider_text{margin-top: 54;  margin-left: 189;line-height: 33px;color: #fff;}
.slider_text h2{}
.slider_text h1{color: #0F63BB;}
.slider_text p{}
.maincontent{margin-top: 25px;}
.sidebar{width: 250px; margin-right: 30px; background: #ededed; float: left;padding: 20px; margin-left: 10px; }
.single_sidebar{margin-bottom: 10px;}
.sidebar h2{font-weight: normal; color: #fff; background: #000; width: 268;padding: 10px 20px;margin-top: -20px;margin-left: -17px;}
.sidebar ul{margin: 0px; padding: 0px; list-style: none;}
.sidebar ul li{padding: 5px; border-bottom: 1px solid #ddd;}
.sidebar ul li a{text-decoration: none; color: #666;}
.sidebar ul li a:hover{color: #000;}
.content{ width: 600px; padding-right: 30px;}
.content h1{margin-bottom: 15px; font-weight: normal; font-family: 'Indie Flower', cursive;}
.content p{margin-bottom: 10px; text-align: justify;}
.footer{padding: 10px; background: #bbbbbb;}
.single_post{border-bottom: 1px solid #ddd; margin-bottom: 15px; padding-bottom: 15px;}
.post_info{font-size: 12px; margin-bottom: 10px; margin-top: 10}
.post_content{}
.nav-previous{float: left; width: 49%; margin-right: 1%; text-align: left; margin-bottom: 20px;}
.nav-next{float: right; width: 49%; margin-left: 1%; text-align: right;}
.archivetitle{font-weight: normal; text-align: center; font-size: 20px; border-bottom: 1px solid #ddd; margin-bottom: 15px; padding-bottom: 10px; color: #000; text-shadaw:0 1px 0 #ddd; }
.not_found{}
.not_found h1 {font-weight: bold;text-align: center;color: #ddd;font-size: 54;margin-top: 5px;background-color: cornflowerblue;
	line-height: 1;	text-shadow: 3px 2px 2px #000;
}
.not_found p {text-align: center;font-size: 30;line-height: 1;font-weight: normal;text-shadow: 9px 15px 4px;margin-top: 20px; margin-bottom: 30px;}
.post-thumb {margin-bottom: 10;	float: left;margin-right: 17;border: 10px solid #ddd;}